html {
    font-size: 100%
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

h1, h2  {
    color: white;
}

h1 {
    font-size: 3.12em;
}

h2 {
    font-size: 2.6em;
}

p , footer {
    color: gray;
}

footer {
    text-align: right;
    font-size: 1.5em;
}
.link {
    color: aquamarine;
    font-size: 1em;
}

.padding {
    margin-top: 2em;
}